*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.ret{
  width: 110px;
  text-decoration: none;
  height: 30px;
  margin-left: auto;
  transition: 500ms linear;
  color: #000;
}

.ret:hover{
  border-radius: 3px;
  background: #000;
  color: #fff;
  transform: scale(1.1);
}

.chat{
  display: flex;
  gap: 20px;
  padding: 25px;
  color: #000;
  font-size: 15px;
  font-weight: 300;
}

.chat img{
  width: 35px;
  height: 35px;
}

.response{
  background-color: #FBFBF9;
}

.messagebar{
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #494b59;
  background-color: #FBFBF9;
}

.messagebar .bar-wrapper{
  background-color: #FFFAFA;
  border-radius: 5px;
  width: 60vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar-wrapper input{
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  background: none;
  color: #000;
}

.bar-wrapper input::placeholder{
  color: #ccc;
}

.messagebar button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.message-box{
  height: calc(100vh - 5rem);
  overflow-y: auto;
}
